body {
  padding-top: 56px;
}

nav #ul{
  margin-left: 25%;
}

#dropdown-items{
  width: 15%;
  right: 3%;
}

#form{
  width: 50%;
  margin-left: 25%;
}

#friends_table{
  width: 75%;
  margin-left: 10%;
}

.fa {
  margin-left: 90%;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}