{% extends 'base.html' %}
{% load static %}

{% block title %}
  HomePage
{% endblock title %}
  

{% block headers %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock headers %}
  
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>
        
        {% for post in posts %}
            <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{post.author}}</h2>
              <p class="card-text">{{post.description}}</p>
            </div>
            <div class="card-footer text-muted">
              {{post.datetime}}
            </div>
          </div>
        {% endfor %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">People you might know</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for user in profiles %}
                    {% if user not in profile.friends.all and user != profile %}
                    <li>
                        <p>{{user}}</p>
                    </li>
                    {% endif %}
                    <br>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for user in profiles %}
                    {% if user not in profile.friends.all and user != profile %}
                    <li>
                        {% if not user in sent_request_list %}
                            <form action="{% url 'core:send-friend-request' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="Send friend request">
                            <input type="hidden" name="user" value="{{user}}">
                            </form>
                        {% else %}
                        <form action="{% url 'core:cancel-friend-request' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Cancel friend request">
                            <input type="hidden" name="user" value="{{user}}">
                        </form>
                        {% endif %}
                        
                    </li>
            {% endif %}
            <br>
        {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock content %}
  
